@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/*sidebar*/

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  div#general{
    margin: auto;
    padding: 20px;
    margin-top:50px;
    width: 1000px;
    max-height: fit-content;
    background-color: rgba(240, 240, 240, 0.8);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1.5px solid black;
  }

  div#body-header{
    display: flex;
  }

  div#imagenes{
    float: right;
    width: 300px;
    height:500px;
    background: green;
    margin-left: auto; 
    background-color: yellow;
  }

  div#imagenes img {
    width: 100%;  /* Hace que la imagen ocupe todo el ancho del div */
    height: 100%; /* Hace que la imagen ocupe todo el alto del div */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}


  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  #search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  #search-input {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    width: 300px; 
    max-width: 100%;
  }
  
  #search-input:focus {
    outline: none;
    border-color: #0074d9;
  }
  
  button[type="submit"] {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .carousel-caption {
    background-color: rgba(50, 50, 50, 0.8); /* Fondo translúcido */
    border-radius: 10px; /* Borde redondeado */
    display: inline-block; /* Hace que el contenedor se ajuste al tamaño del texto */
    padding: 10px; /* Espaciado dentro del contenedor */
    text-align: center; /* Opcional, centra el texto */
}

  .carousel img {
    width: 100%;
    max-height: 700px; /* Ajusta la altura máxima que desees */
    object-fit: cover; 
    object-position: center;
}
  
  button[type="submit"]:hover {
    background-color: #0063ad;
  }
  
  p {
    font-size: 16px;
    line-height: 24px; /* Interlineado de 24px */
}
  #search-results {
    margin-bottom: 2rem;
  }
  
  .result-item {
    margin-bottom: 1rem;
  }
  
  .result-title {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .result-link {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #0074d9;
  }
  
  .result-link:hover {
    text-decoration: underline;
  }
  
  .result-snippet {
    margin-top: 0;
  }
  
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 10rem;
  }
  
  /* Dark theme */
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #theme-toggler {
    border: none;
    background: transparent;
    cursor: pointer;
    background: #e2e2e2;
    padding: 10px 20px;
    border-radius: 100px;
  }
  
  .dark-theme {
    background-color: #282c34;
    color: #fff;
  }
  
  .dark-theme #search-input {
    background-color: inherit; /* Mantiene el color original */
    color: inherit;
    border-color: #ccc;
}

.dark-theme div#general {
  background-color: rgba(50, 50, 50, 0.8); /* Similar pero más oscuro */
  border: 1.5px solid #aaa; /* Borde más visible */
}

  
  .dark-theme #search-input:focus {
    border-color: #0074d9;
  }
  
  .dark-theme button[type="submit"] {
    background-color: #0074d9;
  }
  
  .dark-theme nav {
    background-color: #333;
}

  .dark-theme .result-link,
  .dark-theme .result-link:hover {
    color: #90caf9;
  }

 